*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

h1{
    font-size:30px;
    font-weight: 700;
}

p{
    color:rgb(88, 88, 88);
}

img{
    width: 100%;
}


.container{
    padding:0px 80px;
}

.d-flex{
    display:flex;
}

.justify-between{
    justify-content: space-between;
}
.justify-content{
    justify-content:center;
}
.align-center{
    align-items: center;
}

.navbar_section{
    padding-top: 10px;
    padding-bottom:10px;
    box-shadow: 0px 0px 2px 0px #000;
}

.navbar_section img{
    width: 50px;
    height: 30px;
}

.menu{
    list-style: none;
}

.menu li{
    padding:0px 10px;
}

.menu li a{
    text-decoration: none;
    color:rgb(88, 88, 88);
}

.banner_section{
 width:100%;
 padding:50px 0px;
}

.banner_content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.banner_content h1{
    width: 350px;
    margin: 0 auto;
}

.banner_content h1 span{
    color: #008AFF;
}

.banner_content p{
    padding-top: 20px;
    padding-bottom:40px;
}

.banner_content img{
    width: 80%;
}

.project_section{
    width: 100%;
    margin-bottom: 40px;
}

.project_content{
    width: 50%;
    margin: 0 auto;
}

.project_left_content{
    text-align: right;
    margin-right: 20px;
    width:40%;
}

.project_left_content h1{
    color:orangered;
    margin-bottom:10px;
}


.project_right_content{
    width: 40%;
    margin-left: 20px;
}

.feature-section{
    margin-bottom: 40px;
}

.col-4{
    width:30%;
    padding:50px 20px;
    border-radius:5px;
}

.col-4 img{
    width:100%;
    height:25vh;
}

.col-4 h4{
    padding: 10px 0px;
}

.content-1{
    background: rgb(251, 236, 238);
}
.content-2{
    background: rgb(192, 241, 192);
}
.content-3{
    background: rgb(240, 240, 192);
}

